@font-face {
    font-family: "Montserrat";
    src: url('fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

:root {
    --bs-font-sans-serif: "Montserrat", serif;
    --bs-secondary-bg: #4f434d;
}

body {
    --bs-body-bg: #2a1f29;
    --bs-body-color: #FFF; 
    --bs-link-color: #ff4d80;
    --bs-link-color-rgb: 255, 77, 128;
    --bs-link-hover-color: var(--bs-link-color);
    --bs-link-hover-color-rgb: var(--bs-link-color-rgb);       
}

a:hover {
    text-decoration: none;
}

.navbar {    
    --bs-secondary-bg-rgb: 79, 67, 77;
    --bs-navbar-padding-y: 0;
}

.navbar-nav {
    --bs-nav-link-hover-color: #ff4d80;
}

.navbar-brand img {
    height: 44px;
}

.nav-link {
    --bs-nav-link-color: #FFF;
}

#hero {
    max-height: 400px;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1024px;
    }
}

.container {
    margin-top: 150px;
}

#home {
    margin-bottom: 350px;
}

#about {
    padding-top: 100px;    
}

#community {
    padding: 40px 50px;
    margin-top: 100px;
    margin-bottom: 150px;
    max-width: 1280px;
    background: var(--bs-secondary-bg);
}

#community h2 {
    padding-bottom: 20px;
}

#community p {
    padding-bottom: 10px;
}

#community h5 {
    padding-top: 20px;
}

#community img {
    max-height: 400px;
}

h1 {
    font-size: 3.25rem;
    font-weight: bold;
}

#status {
    margin-top: 100px;
}

footer {
    background: var(--bs-body-bg);
}

#share a {
    color: #FFF;
}

#share a:hover {
    color: var(--bs-link-hover-color);
}

footer #share i {
    font-size: 32px;
}