<div class="navigation-wrapper">
	<nav role="navigation" id="site-nav" >
			<img src="{{ BASE_URL }}/images/{{ site.wordless_logo }}" class="nav-image"/>
	    <ul>
      {% for link in site.data.navigation %}
		    {% if link.url contains 'http' %}
		        {% assign domain = '' %}
		        {% else %}
		        {% assign domain = site.url %}
		    {% endif %}
		    <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
		  {% endfor %}
				<li><a href="https://github.com/orbitdb/field-manual" target="_blank">Field Manual</a></li>
		    <li><a href="https://github.com/orbitdb/orbit-db/blob/master/API.md" target="_blank">Getting Started</a></li>
		    <li><a href="https://github.com/orbitdb/orbit-db/blob/master/GUIDE.md" target="_blank">API Docs</a></li>
	    </ul>
	</nav>
</div><!-- /.navigation-wrapper -->

{% include browser-upgrade.html %}

{% if page.image.feature %}<header class="masthead">
	{% if site.logo != null %}
		<div class="wrap">
			<a href="{{ site.url }}/" class="site-logo" rel="home" title="{{ site.title }}"><img src="{{ site.url }}/images/{{ site.logo }}" width="200" height="200" alt="{{ site.title }} logo"></a>
		</div>
	{% endif %}
</header><!-- /.masthead -->
{% else %}<header class="masthead">
	<div class="wrap">
      {% if site.logo != null %}
  		<a href="{{ site.url }}/" class="site-logo" rel="home" title="{{ site.title }}"><img src="{{ site.url }}/images/{{ site.logo }}" width="200" height="200" alt="{{ site.title }} logo"></a>
      {% endif %}
	</div>
</header><!-- /.masthead -->{% endif %}

<div class="js-menu-screen menu-screen"></div>
