/* ==========================================================================
   Masthead
   ========================================================================== */

.masthead {
  margin-top: 30px;
  @include clearfix;

  @include media($medium) {
    margin-top: 0;
  }

  .wrap {
    text-align: center;
    max-width: em(440);
    padding-right: 20px;
    padding-left: 20px;

    @include media($medium) {
      max-width: em(728);
      padding-right: 60px;
      padding-left: 60px;
    }

    @include media($large) {
      max-width: em(960);
    }
  }

  @include media($medium) {
    margin-top: 0px;
  }

  @include media($large) {
    margin-top: 10px;
  }
}

/*
   Site logo
   ========================================================================== */

.site-logo {

  img {
    width: 200px;
    // height: 100px;
    // border: 4px solid $white;

    @include media($medium) {
      width: 260px;
      margin-top: 30px;
      // height: 150px;
    }

    @include media($large) {
      width: 300px;
      margin-top: 80px;
      // height: 200px;
    }
  }
}

/*
   Site title/name
   ========================================================================== */

.site-title {
  margin-bottom: 0;

  a {
    color: $black;
  }
}

/*
   Site description text
   ========================================================================== */

.site-description {
  margin-top: 30px;
  // font-family: $alt-font;
  @include font-size(16);
  font-weight: 400;

  @include media($medium) {
    @include font-size(20);
  }
}

blockquote.roadmap {
  font-family: $base-font;
  padding-left: 5px;
  border-left: 0;

  @include media($medium) {
    padding: 20px 40px;
  }
}

