<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title>
  <link href="style.css" type="text/css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet" >

  <meta name="author" content="OrbitDB Community">
  <meta name="copyright" content="&copy; OrbitDB Community 2019">
  <meta name="description" content="{{ site.description }}">

  <meta property="og:description" content="{{ site.description }}" />
  <meta property="og:url" content="{{ site.url }}" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:title" content="{{ site.title }}" />
  <meta property="og:type" content="website" />
  <!-- <meta property="og:image" content="{{ site.base_url }}{{ site.logo }}" /> <!-- TODO --> -->
  <!-- <meta property="og:image:type" content="image/jpg" /> -->
  <!-- <meta property="og:image:width" content="1619" /> TODO -->
  <!-- <meta property="og:image:height" content="1080" /> -->

  <!-- Twitter: card tags -->
<!--   <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@hajanetworks" />
  <meta name="twitter:title" content="{{ site.title }}">
  <meta name="twitter:description" content="Building foundational distributed and decentralized technologies for the future Internet.">
  <meta name="twitter:image" content="https://haja.io/pexels-photo-167259.jpeg"> -->

  <!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. -->
  <!-- <link rel="apple-touch-icon-precomposed" href=".png"> TODO -->
  <!-- Firefox, Chrome, Safari, IE 11+ and Opera. 196x196 pixels in size. -->
  <!-- <link rel="icon" href=".png"> TODO -->

</head>

<body>
  <div class="background"></div>

  <div class="root">
    <div class="container">
      Container 1
    </div>

    <div class="content-container">
      {{ content }}
    </div>
  </div>
</body>
</html>
